/*
 * Importar estilos de addons e defaults
*/
@import url("_base/defaults.css");

/*
        fonte embedada
*/
@font-face {
	font-family: 'offs_b-webfont';
	src: url('../fonts/offs_b-webfont.eot');
	src: url('../fonts/offs_b-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/offs_b-webfont.woff')
		format('woff'), url('../fonts/offs_b-webfont.ttf') format('truetype'),
		url('../fonts/offs_b-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vivo-bold-webfont';
	src: url('../fonts/vivo-bold-webfont.eot');
	src: url('../fonts/vivo-bold-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/vivo-bold-webfont.woff')
		format('woff'), url('../fonts/vivo-bold-webfont.ttf')
		format('truetype'), url('../fonts/vivo-bold-webfont.svg')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vivo-light-webfont';
	src: url('../fonts/vivo-light-webfont.eot');
	src: url('../fonts/vivo-light-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/vivo-light-webfont.woff')
		format('woff'), url('../fonts/vivo-light-webfont.ttf')
		format('truetype'), url('../fonts/vivo-light-webfont.svg')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'offs_-webfont';
	src: url('../fonts/offs_-webfont.eot');
	src: url('../fonts/offs_-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/offs_-webfont.woff')
		format('woff'), url('../fonts/offs_-webfont.ttf') format('truetype'),
		url('../fonts/offs_-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
 * Define o aspecto principal, como cores e fundos do site.
*/
#base {
	width: 100%;
	position: relative;
	font-family: offs_b-webfont;
	background: transparent url('../img/bg/interna_bg.jpg') no-repeat center
		top;
}

body.liquidy #base {
	min-height: 768px;
	background-color: #f6f6f6 !important;
}

body.liquidy #base .wrapper {
	width: 1024px;
}

body.liquidy #base .wrapper .wrapper {
	width: auto !important;
}

@media screen and (max-width: 990px) {
	#base {
		background-color: #FF0000;
	}
}

#header {
	background: url("../img/bg/header_bg.png") repeat-x scroll 0 0 #E8E8E8;
}
/* Navegação */
.internaBtn {
	width: 239px;
	height: 54px;
	color: #FFF;
	font-family: offs_b-webfont;
	text-decoration: none;
	line-height: 54px;
	padding: 0 0 0 50px;
	margin: 30px 0 0 0;
	background: transparent url('../img/btn/bt-interna.png') no-repeat 0 0;
}

.internaLargeBtn {
	width: 290px;
	height: 54px;
	color: #FFF;
	font-family: offs_b-webfont;
	text-decoration: none;
	line-height: 54px;
	padding: 0 0 0 50px;
	margin: 30px 0 0 0;
	background: transparent url('../img/btn/bt-interna-large.png') no-repeat
		0 0;
}

.internaExtraLargeBtn {
	width: 334px;
	height: 54px;
	color: #FFF;
	font-family: offs_b-webfont;
	text-decoration: none;
	line-height: 54px;
	padding: 0 0 0 50px;
	margin: 30px 0 0 0;
	background: transparent url('../img/btn/bt-interna-extra-large.png')
		no-repeat 0 0;
}

.copyrightSymbol {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

/* IE7 */
*+html #header {
	position: relative;
	z-index: 500;
}

#mainMenu {
	width: inherit;
	height: 83px;
	background: transparent url('../img/btn/nav_top_bg.png') repeat-x scroll
		left bottom;
}

#mainMenu li {
	width: 169px;
	height: 80px;
	float: left;
	border-left: solid 1px #b6b6b6;
	background: #E8E8E8 url('../img/btn/nav_top_item_bg.png') repeat-x
		scroll 0 0;
}

#mainMenu li a {
	height: inherit;
	color: #4C4C4C;
	font-size: 14px;
	border-left: solid 1px #FFF;
	line-height: 80px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 2;
}

#mainMenu .arrowDown:hover,#mainMenu .arrowDown.ativo {
	width: 170px;
	height: 87px;
	color: #FFF;
	z-index: 500;
	border-left: none;
	background: transparent url('../img/btn/btn-arrow-down.png') no-repeat
		scroll 0 0;
}

#mainMenu .subMenu {
	display: none;
	width: 1024px;
	height: 75px;
	margin: 0 auto;
	background: #3783A8 url('../img/btn/subnav_top_bg.png') repeat-x scroll
		left bottom;
}

#mainMenu .subMenu li {
	width: 128px;
	height: inherit;
	border: none;
	background: transparent;
}

#mainMenu .subMenu li a {
	border: none;
	height: 36px;
	color: #005580;
	font-size: 12px;
	line-height: normal;
	text-align: left;
	margin: 20px 0 0 0;
	padding: 0 0 0 40px;
}

#mainMenu .subMenu li a:hover,#mainMenu .subMenu li .ativo {
	color: #FFF;
	background-position: 0 -36px !important;
}

#mainMenu #psVozCorporativa {
	width: 140px;
}

#mainMenu #psVozCorporativa a {
	background: transparent url('../img/btn/ps_voz_corporativa_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #servicosGestao a {
	background: transparent url('../img/btn/servicos_gestao_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #vivoDireto {
	width: 100px;
}

#mainMenu #vivoDireto a {
	background: transparent url('../img/btn/vivo_direto_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #mensageria a {
	line-height: 36px;
	background: transparent url('../img/btn/mensageria_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #vivoInternet {
	width: 115px;
}

#mainMenu #vivoInternet a {
	background: transparent url('../img/btn/vivo_internet_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #solucoesBlackBerry a {
	background: transparent url('../img/btn/solucoes_blackberry_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #m2m {
	width: 95px;
}

#mainMenu #m2m a {
	line-height: 36px;
	background: transparent url('../img/btn/m2m_icon.png') no-repeat scroll
		0 0;
}

#mainMenu #vivoGerenciamentoIntegrado a {
	background: transparent url('../img/btn/vivo_gerenciamento_integrado_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #infraTI a {
	line-height: 36px;
	background: transparent url('../img/btn/infra_ti_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #segurancaInformacao {
	width: 145px;
}

#mainMenu #segurancaInformacao a {
	background: transparent url('../img/btn/seguranca_informacao_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #produtividadeUsuario {
	width: 143px;
}

#mainMenu #produtividadeUsuario a {
	background: transparent url('../img/btn/produtividade_usuario_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #colaboracao a {
	line-height: 36px;
	background: transparent url('../img/btn/colaboracao_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #ipInternet { 1
	margin: 0 10px 0 133px;
}

#mainMenu #ipInternet a {
	line-height: 36px;
	background: transparent url('../img/btn/ip_internet_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #vpn {
	width: 100px;
}

#mainMenu #vpn a {
	line-height: 36px;
	background: transparent url('../img/btn/vpn_icon.png') no-repeat scroll
		0 0;
}

#mainMenu #smart {
	width: 110px;
}

#mainMenu #smart a {
	line-height: 36px;
	background: transparent url('../img/btn/smart_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #metrolan a {
	line-height: 36px;
	background: transparent url('../img/btn/metrolan_icon.png') no-repeat
		scroll 0 0;
}

#mainMenu #servicosInternacionais {
	width: 160px;
}

#mainMenu #servicosInternacionais a {
	background: transparent
		url('../img/btn/servicos_internacionais_icon.png') no-repeat scroll 0
		0;
}

#mainMenu #cdn a {
	line-height: 36px;
	background: transparent url('../img/btn/cdn_icon.png') no-repeat scroll
		0 0;
}

#mainMenu #vozTradicional {
	margin: 0 20px 0 395px;
}

#mainMenu #vozTradicional a {
	background: transparent url('../img/btn/voz_tradicional_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #vozAvancada {
	width: 120px;
}

#mainMenu #vozAvancada a {
	background: transparent url('../img/btn/voz_avancada_icon.png')
		no-repeat scroll 0 0;
}

#mainMenu #navHomeItem {
	width: 172px;
}

#mainMenu #navHomeItem a {
	background: transparent url('../img/btn/bt-home-vivo.png') no-repeat
		scroll center center;
	text-indent: -10000px;
	width: 171px;
}

.subMenuContainer {
	width: 100%;
	background: url("../img/btn/subnav_top_bg.png") repeat-x scroll left
		bottom #3783A8;
	height: 75px;
	position: absolute;
	top: 80px;
	left: 0;
}

/* Conteúdo */
h3,h4,h5 {
	text-transform: uppercase;
}

h3 {
	width: 476px;
	font-size: 20px;
	margin: 13px 0;
	font-size: 20px;
}

h4 {
	color: #0AF;
	font-size: 16px;
	margin: 15px 0;
}

h5 {
	color: #FFF;
	font-size: 12px;
	margin: 15px 0;
}

h3 a {
	color: #0AF;
	height: 44px;
	line-height: 44px;
	text-decoration: none;
	padding: 0 0 0 50px;
	outline: none;
	background: transparent url('../img/btn/bg-accordion-elements.png')
		no-repeat left top;
	text-decoration: none;
}

.topicOn {
	background-position: 0 -44px;
	color: #FFF;
}

#accordion {
	padding: 0 0 30px 15px;
}

.normalContent {
	padding: 15px 0 30px 40px;
}

.accordionContent {
	display: none;
	padding: 0 0 5px 25px;
}

#accordion .accordionContent ul,#main .normalContent ul {
	list-style-type: disc;
	padding: 0 0 0 15px;
}

#accordion .accordionContent ol,#main .normalContent ol {
	list-style: decimal;
	padding: 0 0 0 15px;
}

#accordion .accordionContent ol li,#main .normalContent ol li {
	display: list-item;
}

#accordion .accordionContent p,#main .normalContent p,#accordion .accordionContent ul li,#accordion .accordionContent ol li,#main .normalContent ul li,#main .normalContent ol li
	{
	width: 90%;
	padding: 0;
	color: #FFF;
	font-size: 13px;
	font-family: "offs_b-webfont";
	line-height: 17px;
}

#accordion .accordionContent ul li,#accordion .accordionContent ol li,#main .normalContent ul li,#main .normalContent ol li
	{
	margin: 0 0 10px 0;
}

#content {
	top: 72px;
	position: relative;
	overflow: hidden;
}

#main {
	float: right;
	overflow-x: hidden;
	overflow-y: scroll;
	1overflow-y /*\**/: scroll; /*Hack for IE8*/
	position: relative;
	width: 514px;
	height: 584px;
	z-index: 1;
	background: transparent url('../img/bg/interna_overlay.png') repeat-y 0 0;
}

#main section {
	overflow: auto;
}

#main #home,#main #empresa {
	overflow: visible;
}

#main section h2 {
	font-size: 28px;
	color: #FFF;
	padding: 15px 0;
	margin: 0 0 15px 0;
	text-indent: 40px;
	letter-spacing: -1px;
	background: #27414F;
}

#main section p {
	font-size: 19px;
	font-family: offs_-webfont;
	color: #FFF;
	width: 82%;
	padding: 0 0 0 40px;
	margin: 0 0 15px 0;
	line-height: 24px;
}

/* Rodapé */
#footer {
	height: 30px;
	background: transparent url('../img/bg/bg-footer.gif') repeat-x scroll
		left bottom;
}

#footer .contentFooter {
	color: #0f6b99;
	overflow: hidden;
	font-size: 10px;
	font-family: offs_b-webfont;
	background: transparent url('../img/bg/bg-vivo-footer.png') no-repeat
		scroll 752px 5px;
}

.contentFooter p {
	margin: 10px 0 10px 90px;
	float: left;
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape) {
	#main {
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}
	#mainMenu .arrowDown:hover {
		background: none !important;
		color: #4C4C4C !important;
	}
	#mainMenu .arrowDown.ativo {
		width: 170px !important;
		height: 87px !important;
		color: #FFF !important;
		z-index: 500 !important;
		border-left: none !important;
		background: transparent url('../img/btn/btn-arrow-down.png') no-repeat
			scroll 0 0 !important;
	}
	#mainMenu .subMenu li a:hover {
		background-position: 0 0 !important;
		color: #005580 !important;
	}	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : portrait) {
	#main {
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}
	#mainMenu .arrowDown:hover {
		background: none !important;
		color: #4C4C4C !important;
	}
	#mainMenu .arrowDown.ativo {
		width: 170px !important;
		height: 87px !important;
		color: #FFF !important;
		z-index: 500 !important;
		border-left: none !important;
		background: transparent url('../img/btn/btn-arrow-down.png') no-repeat
			scroll 0 0 !important;
	}
	#mainMenu .subMenu li a:hover {
		background-position: 0 0 !important;
		color: #005580 !important;		
	}	
}