/*
    Document   : solucoes_dados
    Created on : Aug 28, 2012, 7:15:22 PM
    Author     : leej
    Description:
        CSS para seção "Soluções de Dados"
*/
#mainMenu #solucoesDadosMenu {
	display: block;
	width: 754px;
}

#solucoesDadosMenuContainer {
	z-index: 100;
}